*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
.DS_Store
.idea
.project
.strong-pm
coverage
node_modules
npm-debug.log
src/*.csv
src/*.dat
src/*.iml
src/*.log
src/*.out
src/*.pid
src/*.seed
src/*.sublime-*
src/*.swo
src/*.swp
src/*.tgz
src/*.xml
src/.DS_Store
src/.idea
src/.project
src/.strong-pm
src/coverage
src/node_modules
src/npm-debug.log