{
  "extends": "loopback",
  "rules": {
    "prefer-const": "error",
    "no-var": "error",
    "no-const-assign": "error",
    "prefer-arrow-callback": "error",
    "func-style": ["error", "declaration", { "allowArrowFunctions": true }],
    "prefer-template": "error",
    "object-curly-spacing": "off",
    "indent": ["error", 2]
  }
}